.container-fluid{
    padding: 0;
    width: 100%;
    margin: 0;
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menuImage
{
    width: 100%;
    max-height: 720px;
    padding: 0;
    margin: 0;
}

.divider{
    background-color: black;
    color: white;
}

.h1
{
    font-size: larger;
}

.footer {
    background-color: #000000;
    color: #FFFFFF;
}

.zoom:hover {
    transform: scale(1.15);
}

.fondnoir{
    background-color: black;
    color: white;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:#6cf;
}

@media screen and (max-width: 290px) {
    .fondnoir {
        background-color: blue;
    }
}

@media print {

    .navbar {display:none;}
    #content {display:none;}
    #comments {display:none;}
    #sidebar {display:none;}
    #footer {display:none;}

    .site-description {display:none;}
    .site-title {display:none;}

}